@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap'); */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
body{
    
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 29%, rgba(77,77,77,1) 100%); 

  /* background-size: 180% 180%; */
  animation: gradient-animation 8s ease infinite; 
}


@keyframes gradient-animation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }  
}